{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- cropper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css">

    <!-- custom css & js-->
    <!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->
    <!-- <script src="{% static 'main.js' %}" defer></script> -->

    <title>Blog Proj | {% block title %} {% endblock title %}</title>
  </head>
  <body>
    <!-- Navbar -->
    <div class="">       
        {% block content %}

        {% if messages %}
            {% for messages in messages %}
              <!-- <div class="alert alert-{{messages.tags}} alert-dismissible fade show" role="alert">
                {{messages}}
              </div> -->
              <div class="alert alert-{{messages.tags}} alert-dismissible fade show" role="alert">
                <strong>Message:</strong> {{messages}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          {% endif %}



          
        {% endblock content %}
    </div>
  </body>
</html>