{% extends "base.html" %}

{% block title %} Home {% endblock title %}


{% block content %}
<div class="container">
	<h1>User Profile</h1>
	<h3>{{request.user}}</h3>
	<p>{{ip}}</p>
	<a href="{% url 'logout' %}" class="btn btn-primary btn-sm">Logout</a>
	<h2 class="mt-2">Email: {{request.user.email}}</h2>
	<h2>Name: {{request.user.first_name}} {{request.user.last_name}}</h2>
	<h2>is Staff: {{request.user.is_active}}</h2>
	<h2>Staff: {{request.user.is_staff}}</h2>
	<h2>SuperUser: {{request.user.is_superuser}}</h2>
</div>
{% endblock content %}